@media screen and (min-width: 601px){
    .container{
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;                
    }
    .title{
        color: white;
        font-size: 30px;
    }
    .header{
        text-align: center;
        padding: 10px;        
        background: black;
        border-radius: 15px;        
    }
    .footer{
        text-align: center;
        padding: 10px;        
        background: black;
        border-radius: 15px;    
        text-align: center;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;    
    }
    .pics{
        border-radius: 50%;
        width:170px;
        height:120px;
    }
    .media{
        width:30px;
        height:30px;
    }  
    br{
        line-height: 1.5px;
    }
    .menu{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background: black;
        position: relative;
        border-radius: 15px;
    }
    .animation{
        padding: 1% 1%;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-radius: 20px;
        margin-left: 5px;
        margin-right: 5px;
        z-index: 1;
        background-color: black;
        color: white;
        position: relative;
    }
    .animation:hover{
        padding: 1% 1%;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-radius: 20px;
        margin-left: 5px;
        margin-right: 5px;
        background-color:white;
        color: black;
        position: relative;
    }
    .animation:before{
        height: calc(100% + 10px);
        width: calc(100% + 10px);
        background: linear-gradient(90deg,violet,indigo,blue,green,yellow,orange,red,violet,indigo,blue,green,yellow,orange,red);
        background-size: 500%;
        border-radius: 20px;
        position: absolute;
        content: '';
        z-index: -1;
        top: -5px;
        left: -5px;
        animation: animate 20s linear infinite;
    }
    @keyframes animate{
        0%{
            background-position: 0 0;
        }
        50%{
            background-position: 200% 0;
        }
        100%{
            background-position: 0 0;
        }
    }
    .content{
        border: 1px solid #fafafa;
        padding: 10px;
        height: auto;
        box-shadow: 10px 5px 50px;
        border-radius: 15px;
    }
    .p1{
        line-height: 1.5em;
        font-family:'Times New Roman', Times, serif;
    }
    .bar{
        width: 80%;
        background-color: lightgray;
        border-radius: 25px;
        box-shadow: 2px 8px 10px;
    }
    .skills {
        text-align: right; 
        padding-top: 8px; 
        padding-bottom: 8px; 
        color: white; 
      }
      
      .sql {width: 85%; background-color: #b515bb;border-radius: 25px;} 
      .plsql {width: 85%; background-color: #116eb9;border-radius: 25px;} 
      .jda {width: 75%; background-color: #612723;border-radius: 25px;} 
      .html {width: 65%; background-color: #14645e;border-radius: 25px;} 
      .css {width: 65%; background-color: #ee7e14;border-radius: 25px;} 
      .java {width: 65%; background-color: #34197e;border-radius: 25px;} 
    .p2{
        font-family:'Times New Roman', Times, serif;
        font-size: small;
    }
    .workdet{
        margin-right: 20%; 
        margin-left: 20%;
    }
    .work{
        background-color: rgb(247, 243, 246); 
        width: auto; 
        height: auto; 
        padding-top: 10px; 
        padding-bottom: 10px; 
        border-radius: 20px;
        padding-right: 25px;
        text-align: left;
        box-shadow: 4px 5px 20px;
    }
}

@media screen and (max-width: 600px) {
    .container{
        width: 94%;
        height: 100%;
        margin-left: 3%;
        margin-right: 3%;                
    }
    .title{
        color: white;
        font-size: 20px;
    }
    .header{
        text-align: center;
        padding: 10px;        
        background: black;
        border-radius: 15px;        
    }
    .footer{
        text-align: center;
        padding: 10px;        
        background: black;
        border-radius: 15px;    
        text-align: center;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;    
    }
    .pics{
        border-radius: 50%;
        width:170px;
        height:120px;
    }
    .media{
        width:30px;
        height:30px;
    }  
    br{
        line-height: 1.5px;
    }
    .menu{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background: black;
        position: relative;
        border-radius: 15px;
    }
    .menu a{
        font-size:small;
    }
    .animation{
        padding: 1% 1%;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-radius: 20px;
        margin-left: 5px;
        margin-right: 5px;
        z-index: 1;
        background-color: black;
        color: white;
        position: relative;
    }
    .animation:hover{
        padding: 1% 1%;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-radius: 20px;
        margin-left: 5px;
        margin-right: 5px;
        background-color:white;
        color: black;
        position: relative;
    }
    .animation:before{
        height: calc(100% + 10px);
        width: calc(100% + 10px);
        background: linear-gradient(90deg,violet,indigo,blue,green,yellow,orange,red,violet,indigo,blue,green,yellow,orange,red);
        background-size: 500%;
        border-radius: 20px;
        position: absolute;
        content: '';
        z-index: -1;
        top: -5px;
        left: -5px;
        animation: animate 20s linear infinite;
    }
    @keyframes animate{
        0%{
            background-position: 0 0;
        }
        50%{
            background-position: 200% 0;
        }
        100%{
            background-position: 0 0;
        }
    }
    .content{
        border: 1px solid #fafafa;
        padding: 10px;
        height: auto;
        box-shadow: 10px 5px 50px;
        border-radius: 15px;
    }
    .p1{
        line-height: 1.5em;
        font-family:'Times New Roman', Times, serif;
        font-size: 15px;
    }
    h3 {
        font-size: 15px;
    }
    .bar{
        width: 80%;
        background-color: lightgray;
        border-radius: 25px;
        box-shadow: 2px 8px 10px;
    }
    .skills {
        text-align: right; 
        padding-top: 5px; 
        padding-bottom: 5px; 
        color: white; 
      }
      
      .sql {width: 85%; background-color: #b515bb;border-radius: 25px;} 
      .plsql {width: 85%; background-color: #116eb9;border-radius: 25px;} 
      .jda {width: 75%; background-color: #612723;border-radius: 25px;} 
      .html {width: 65%; background-color: #14645e;border-radius: 25px;} 
      .css {width: 65%; background-color: #ee7e14;border-radius: 25px;} 
      .java {width: 65%; background-color: #34197e;border-radius: 25px;} 
      .p2{
        font-family:'Times New Roman', Times, serif;
        font-size: 15px;
    }
    .workdet{
        margin-right: 5%; 
        margin-left: 5%;
    }
    .work{
        background-color: rgb(247, 243, 246); 
        width: auto; 
        height: auto; 
        padding-top: 10px; 
        padding-bottom: 10px; 
        border-radius: 20px;
        padding-right: 25px;
        text-align: left;
        box-shadow: 4px 5px 20px;
    }
}

